<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BOL GAME</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:inline="javascript">
    	function play(object){
    		var id = object.id;
    		var splitId = id.split(".");
    		var player = splitId[0];
    		var selectedPit = splitId[1];
    		var activePlayer = document.getElementById('activePlayer.playerNumber').value;
    		if(activePlayer != player){
    		 alert("wrong seelection");
    		return;}
    		var form = document.forms[0];
    		var action = form.action;
    		action = action.concat("/",player,"/",selectedPit);
    		form.action = action;
    		form.submit();
    		
    	}
    </script>
</head>
<body>
		
	<h1>GAME</h1>	
	
	<form action="#" th:action="@{'/play/' + ${boardStatus.gameId}}" th:object="${boardStatus}" method="post">
	 <input type="hidden" name="activePlayer" th:field="*{activePlayer.playerNumber}" ></input>
	<table align="center" >
		<tbody>
			<tr>
				<td width="100" id="2.6" th:text="*{pitHolders[1].pits[6].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="20" id="2.5" th:text="*{pitHolders[1].pits[5].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="20" id="2.4" th:text="*{pitHolders[1].pits[4].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="20" id="2.3" th:text="*{pitHolders[1].pits[3].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="20" id="2.2" th:text="*{pitHolders[1].pits[2].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="20" id="2.1" th:text="*{pitHolders[1].pits[1].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="20" id="2.0" th:text="*{pitHolders[1].pits[0].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="100">Player 2</td>
			</tr>
			<tr>
				<td width="100">Player 1</td>
				<td width="20" id="1.0" th:text="*{pitHolders[0].pits[0].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="20" id="1.1" th:text="*{pitHolders[0].pits[1].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="20" id="1.2" th:text="*{pitHolders[0].pits[2].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="20" id="1.3" th:text="*{pitHolders[0].pits[3].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="20" id="1.4" th:text="*{pitHolders[0].pits[4].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="20" id="1.5" th:text="*{pitHolders[0].pits[5].numOfStones}" th:onclick="'javascript:play(this);'"></td>
				<td width="100" id="1.6" th:text="*{pitHolders[0].pits[6].numOfStones}" th:onclick="'javascript:play(this);'"></td>
			</tr>
		</tbody>
	</table>
	<table align="center">
		<tbody>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr>
				<td>Player 1: </td>
				<td th:text="*{pitHolders[0].gamePlayer.player.name}"></td> 
			</tr>
			<tr>
				<td>Player 2: </td>
				<td th:text="*{pitHolders[1].gamePlayer.player.name}"></td> 
			</tr>
			<tr></tr>
			<tr></tr>
			<tr>
				<td>Active Player</td>
				<td th:text="*{activePlayer.player.name}"></td> 
			</tr>
		</tbody>
	</table>
	</form>

</body>
</html>
